.request-button {
    font-size: 1em;
    /* width: fit-content; */
    padding: 0px 15px;
}

.score-buttons-cell {
    width: 200px;
}

.score-buttons {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    font-size: 1em;
    width: fit-content;
    place-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 9px;
}

.correct-button {
    background-color: rgb(0, 128, 0);
    box-shadow: 0 9px rgb(0, 60, 0);
}
.correct-button:active {
    box-shadow: 0 5px rgb(0, 60, 0);
}

.incorrect-button {
    background-color: rgb(128, 0, 0);
    box-shadow: 0 9px rgb(60, 0, 0);
}
.incorrect-button:active {
    box-shadow: 0 5px rgb(60, 0, 0);
}

table {
    width: 100%;
    /* table-layout: auto; */
}

tr {
    height: 110px;
}

tr:nth-child(even){
    background-color: var(--bg01);
}

th {
    font-size: 3em;
}

h1 {
    margin: 0px;
}

.player-info {
    text-align: center;
    font-size: 1.7em;
}

.player-score {
    font-weight: 100;
    font-size: 1.3em;
}

.player-bet {
    text-align: center;
    font-size: 3em;
    width: 300px;
}

.player-answer-cell {
    padding: 10px 20px 0px;
    max-width: 600px;
}

.player-answer {
    font-size: 1.7em;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
}